.index {
	width:400px;
	background:rgba(255,255,255,.7);
	padding:10px;
	position:absolute;
	top:50%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	color:#000;
	p {
		line-heihgt:40px;
	}
}